<form >
    
        
        Enter user name:
        <input type="text" name ="username" class="form-control"> <br>
        Password:
        <input type="password" name="password" class="form-control"> <br>
        <input type="button" name="submit" value="submit"class="btn btn-primary" (click)="fnGenerateOtp()"> <br>
        Enter otp: <input type="text" name="text" id="" class="form-control"><br>
        <input type="button" value="Validate Otp" class="btn btn-info" (click)="fnValidateOtp()">
        <br><br>
        <input type="button" value="Submit" class="btn-btn-success">

        <!-- {{enteredOtp}} -->
    
</form>